section {
  width: 100%;
  height: 100%;
}

.welcome {
  /* height: 40vh; */
  width: 40%;
  min-width: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 12px;

}

input{
  max-width: 300px;
}

.card-header {
  background-color: #007bff;
  color: white;
  font-weight: bold;
  font-size: large;
}
